<!doctype html>
<html lang="fr">

<head>
	<title>Titre de la page</title>
</head>

<body>
    <h1>Le nom entré est : {{ nom }}</h1>
	<footer> 
	{{ time_stamp }}
	</footer> 

</body>
</html>


